:root {
  --light-color: rgb(232, 222, 209);
  --dark-color: rgb(160, 129, 108);
  --dark-colorPerm: rgb(160, 129, 108);
  --light-colora: rgb(232, 222, 209, 0.3);
  --dark-colora: rgb(160, 129, 108, 0.3);
}
/*TOP SECTION*/
body {
  margin: 0;
  padding: 0;
}
.main_body {
  transition: all 0.5s;
  background-color: var(--light-color);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  user-select: none;
}
.theme_btn {
  position: absolute;
  top: 4vw;
  right: 3vw;
  width: 3rem;
  height: 3rem;

  border: 0.1rem solid white;
  border-radius: 50%;
  background-color: var(--light-color);
}
.theme_btn:hover {
  transition: all 0.3s;
  border: 0.3rem solid white;
  background-color: var(--dark-color);
}

.ribbon {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5vh;
  transition: all 0.5s;
  background-color: var(--dark-color);
}
.ribbon_content {
  width: 90vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(8rem, 20%));
  grid-template-rows: 5vh;
  align-items: center;
  justify-content: center;
}
.dropdownM {
  grid-column: 1;
}
.dropdownS {
  grid-column: 2;
}
.dropdownB {
  grid-column: 3;
}
.dropdownF {
  grid-column: 4;
}
.dropdownO {
  grid-column: 5;
}

/*MENU*/
.menuB1,
.menuB2,
.menuB3,
.menuB4 {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  height: 5vh;
}

.menuB1:hover,
.menuB2:hover,
.menuB3:hover,
.menuB4:hover {
  color: white;
  background-color: var(--light-colora);
  border: none;
  transition: all 0.3s;
}
.dropdownS,
.dropdownB,
.dropdownF,
.dropdownO,
.dropdownM {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 8rem;
  font-size: 2em;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 0.3rem;
  background-color: var(--dark-color);
  display: block;
}
.dropdown-content a:hover {
  filter: brightness(1.15);
}
.dropdownS:hover .dropdown-content,
.dropdownB:hover .dropdown-content,
.dropdownF:hover .dropdown-content,
.dropdownO:hover .dropdown-content,
.dropdownM:hover .dropdown-content {
  display: block;
}

/*MAIN BODY*/
.recipe {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 2vh;
  margin: 0 2vh;
  border-radius: 2vh;
  min-width: 30rem;
}
.rContainer {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(10rem, 14rem) minmax(15rem, 1fr) 3fr;
}
/*Image*/

img {
  grid-column: 1;
  width: 100%;
  border-radius: 1vh;
  outline: 0.2rem solid var(--dark-colorPerm);
  outline-offset: 0.3rem;
}
.table {
  margin-left: 1rem;
  height: fit-content;
  font-size: 1.25rem;
}
.tdA {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-right: 0.5rem;
  color: var(--dark-colorPerm);
}

.method {
  grid-column: 3/6;
  margin: 0;
  margin-left: 3rem;
  font-size: 1.25rem;
  height: fit-content;
  padding: 1rem 0rem;
  border-top: 0.2rem solid var(--dark-colorPerm);
  border-bottom: 0.2rem solid var(--dark-colorPerm);
  position: relative;
}
.method:before {
  content: "Method: ";
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--dark-colorPerm);
}
/*FOOTER*/

.author {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0px;
  transition: all 0.5s;
  color: var(--dark-color);
  background-color: var(--light-color);
  cursor: pointer;
}
.dropdown-content {
  background-color: var(--dark-color);
}
.menuB4 > .dropdown-content {
  padding: 0 0.5rem;
}
a {
  user-select: none;
  cursor: pointer;
}
.tDish {
  height: 9vh;
  width: 6vh;
  outline: none;
  margin: 0.3rem;
  outline: 0.1rem solid white;
  outline-offset: 0;
  cursor: pointer;
}
.tDish:hover {
  filter: brightness(0.9);
}
