:root {
  --light-color: rgb(232, 222, 209);
  --dark-color: rgb(160, 129, 108);
  --dark-colorPerm: rgb(160, 129, 108);
  --light-colora: rgb(232, 222, 209, 0.3);
  --dark-colora: rgb(160, 129, 108, 0.3);
}
/*TOP SECTION*/
body {
  margin: 0;
  padding: 0;
}
.main_body {
  transition: all 0.5s;
  background-color: var(--light-color);
}

h1 {
  position: relative;
  font-size: 4rem;
  margin: 1rem auto;
  user-select: none;
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
}
.the {
  font-size: 1rem;
  max-height: 3rem;
  margin-right: 0.5rem;
}
.potIcon {
  height: 4rem;
  max-height: 5rem;
  margin-left: 1rem;
  outline: none;
}
.theme_btn {
  position: relative;
  margin: 0.15rem;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid white;
  border-radius: 50%;
  background-color: var(--light-color);
}
.theme_btn:hover {
  transition: all 0.3s;
  border: 0.3rem solid white;
  background-color: var(--dark-color);
}

.ribbon {
  width: 90%;
  min-width: 15rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  height: 3rem;
  transition: all 0.5s;
  background-color: var(--dark-color);
}
.ribbon_content {
  margin-left: 1rem;
  width: 90vw;
  height: 100%;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(3rem, 20%));
  align-items: center;
  justify-content: center;
}
.dropdownM {
  grid-column: 1;
}
.dropdownS {
  grid-column: 2;
}
.dropdownB {
  grid-column: 3;
}
.dropdownF {
  grid-column: 4;
}
.dropdownO {
  grid-column: 5;
}

/*MENU*/
.menuB1,
.menuB2,
.menuB3,
.menuB4,
.menuB5 {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  height: 100%;
  width: 100%;
}

.menuB1:hover,
.menuB2:hover,
.menuB3:hover,
.menuB4:hover,
.menuB5:hover {
  color: white;
  background-color: var(--light-colora);
  border: none;
  transition: all 0.3s;
}
.dropdownS,
.dropdownB,
.dropdownF,
.dropdownO,
.dropdownM {
  display: block;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 3rem;
  font-size: 2em;
  z-index: 3;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.dropdown-content a {
  color: black;
  padding: 0.3rem;
  background-color: var(--dark-color);
  border-radius: 0.5rem;
  display: block;
}
.dropdown-content a:hover {
  filter: brightness(1.15);
}

.dropdownS:hover .dropdown-content,
.dropdownB:hover .dropdown-content,
.dropdownF:hover .dropdown-content,
.dropdownO:hover .dropdown-content {
  display: block;
}
.dropdownM:hover .dropdown-content {
  display: flex;
}
/*MAIN BODY*/
.recipe {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 2vh;
  margin: 0 2vh;
  border-radius: 2vh;
  width: fit-content;
  margin: auto;
}
.rContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.recipeHeader {
  justify-content: center;
}
/*Image*/

.recepiIllustration {
  grid-column: 1;
  border-radius: 1vh;
  outline: 0.2rem solid var(--dark-colorPerm);
  outline-offset: 0.3rem;
  min-width: 7rem;
  max-width: 9rem;
  max-height: 14rem;
}
.themeIcon {
  border: none;
  outline: none;
  opacity: 0.7;
  user-select: none;
  height: 100%;
}
.intro {
  margin: auto;
  width: 50vw;
  outline: 0.2rem solid var(--dark-colorPerm);
  border-radius: 1rem;
  padding: 1rem;
  min-width: 15rem;
}
.introImg {
  height: 6rem;
  display: relative;
  float: left;
  display: inline;
  border: none;
  outline: none;
  width: fit-content;
  filter: invert(55%) sepia(19%) saturate(549%) hue-rotate(341deg)
    brightness(93%) contrast(88%);
}
.introTxt {
  font-size: 1.5rem;
  margin: 0rem;
}

.table {
  height: fit-content;
  font-size: 1.25rem;
}
.tdA {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-right: 0.5rem;
  color: var(--dark-colorPerm);
}

.method {
  /*grid-column: 3/6;*/
  flex: 7;
  min-width: 15rem;
  margin: 0;
  font-size: 1.25rem;
  height: fit-content;
  padding: 1rem 0rem;
  border-top: 0.2rem solid var(--dark-colorPerm);
  border-bottom: 0.2rem solid var(--dark-colorPerm);
  position: relative;
}
.method:before {
  content: "Method: ";
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--dark-colorPerm);
}
/*FOOTER*/

.author {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0px;
  transition: all 0.5s;
  color: var(--dark-color);
  background-color: var(--light-color);
  cursor: pointer;
}
.dropdown-content {
  background-color: var(--dark-color);
}

a {
  user-select: none;
  cursor: pointer;
}
.tDish {
  width: 4rem;
  border-radius: 0.5rem;
  border: 0.2rem solid white;
  cursor: pointer;
  margin: 0.25rem;
}
.tDish:hover {
  filter: brightness(0.9);
}
