:root {
  --light-color: rgb(232, 222, 209);
  --dark-color: rgb(160, 129, 108);
  --dark-colorPerm: rgb(160, 129, 108);
  --light-colora: rgb(232, 222, 209, 0.3);
  --dark-colora: rgb(160, 129, 108, 0.3);
}
/*TOP SECTION*/
body {
  margin: 0;
  padding: 0;
}
.main_body {
  transition: all 0.5s;
  background-color: var(--light-color);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}
.theme_btn {
  position: absolute;
  top: 5vh;
  right: 3vh;
  width: 6vh;
  height: 6vh;
  border: 0.1rem solid white;
  border-radius: 50%;
  background-color: var(--light-color);
}
.theme_btn:hover {
  transition: all 0.3s;
  border: 0.3rem solid white;
  background-color: var(--dark-color);
}

.ribbon {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5vh;
  transition: all 0.5s;
  background-color: var(--dark-color);
}
.ribbon_content {
  width: 90vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(8rem, 20%));
  align-items: center;
}

.menuText {
  font-size: 2rem;
  font-weight: 700;
  grid-column: 1;
  user-select: none;
}
.dropdownS {
  grid-column: 2;
}
.dropdownB {
  grid-column: 3;
}
.dropdownF {
  grid-column: 4;
}
.dropdownM {
  grid-column: 5;
}
/*MENU*/
.menuB1,
.menuB2,
.menuB3,
.menuB4 {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  height: var(--elHeight);
}

.menuB1:hover,
.menuB2:hover,
.menuB3:hover,
.menuB4:hover {
  color: white;
  background-color: var(--light-colora);
  border: none;
  transition: all 0.3s;
}
.dropdownS,
.dropdownB,
.dropdownF,
.dropdownM {
  display: inline-block;
  height: var(--elHeight);
}

.dropdown-content {
  display: none;
  min-width: 8rem;
  position: absolute;
  font-size: 2em;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 0.3rem;
  background-color: var(--dark-color);
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--light-color);
}
.dropdownS:hover .dropdown-content,
.dropdownB:hover .dropdown-content,
.dropdownF:hover .dropdown-content,
.dropdownM:hover .dropdown-content {
  display: block;
}

/*Image*/
img {
  height: 35vh;
  border-radius: 1vh;
  outline: 0.2rem solid var(--dark-colorPerm);
  outline-offset: 0.3rem;
}
/*MAIN BODY*/
.recipe {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 2vh;
  margin: 0 2vh;
  border-radius: 2vh;
}
.tableContainerDiv {
  vertical-align: top;
  position: relative;
  left: 20px;
}

/*FOOTER*/

.author {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0px;
  transition: all 0.5s;
  color: var(--dark-color);
  background-color: var(--light-color);
}
